@{
    ViewBag.Title = "Home Page";
}

<h2>Exception Filter Demo</h2>

<form action="@Url.Action("Index", "Exception")" method="post">
    <button type="submit">Cause Divide By Zero Error</button>
</form>
